{% extends 'base.html' %}
{% block title_block %}
    Realtime P&L
{% endblock %}
{% load staticfiles %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}

{% block datatables_bootstrap_css %}
    {{ block.super }}
{% endblock %}

{% block content %}
{# Show a Button to Add a new Deal#}


<div class="app-content content">
{% csrf_token %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div id="mna_idea_content_wrapper" class="content-body">
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header">
                                <h4 class="card-title font-medium-3 center">Realtime PnL (Tradegroup Level)</h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <!-- Task List table -->
                                <table class="table table-striped table-bordered" id='realtime_pnl_table' style="font-size:12px;">
                                    <thead>
                                    <tr>
                                        <th>TradeGroup</th>
                                        <th>Sleeve</th>
                                        <th>Catalyst</th>
                                        <th>ARB (Live YTD PnL)</th>
                                        <th>AED (Live YTD PnL)</th>
                                        <th>LG (Live YTD PnL)</th>
                                        <th>MACO (Live YTD PnL)</th>
                                        <th>TAQ (Live YTD PnL)</th>
                                        <th>CAM (Live YTD PnL)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/realtime_pnl_impacts.js' %}" type="text/javascript"></script>


{% endblock %}