{% extends 'base.html' %}
{% block title_block %}
    News Repository
{% endblock %}
{% load staticfiles %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}

{% block datatables_bootstrap_css %}
    {{ block.super }}
{% endblock %}

{% block summernote_css %}
    {{ block.super }}
{% endblock %}

{% block checkboxes_css %}
    {{ block.super }}
{% endblock %}

{% block moment_js %}
    {{ block.super }}
{% endblock %}


{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">


            {#          New  News Modal#}

            <div class="modal animated lightSpeedIn text-left" id="wic_news_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <form id="submit_wic_news_form" method="POST">
                    <input type="hidden" id="wic_news_csrf_token" value="{{ csrf_token }}">
                    <div class="modal-xl modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add/Edit News Item</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-6 offset-4">
                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Date</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input type="date" class="form-control" required
                                                           id="wic_news_date"
                                                           placeholder="e.g., Date">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Title
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_news_title"
                                                           placeholder="Enter a title">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Authors
                                                </small>
                                            </div>

                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" id="wic_news_author"
                                                           placeholder="Enter author(s)">
                                                </fieldset>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Source</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_news_source"
                                                           placeholder="Enter appropriate source">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Tickers</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_news_tickers"
                                                           placeholder="eg., IBM US">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">URL</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="url" class="form-control" required id="wic_news_url"
                                                           placeholder="eg., http://www.wsj.com">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Type/Paste Article
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_news_article">

                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Summary(Auto Generated)
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_news_summary">

                                                </div>
                                            </div>

                                        </div>

                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id='close_mna_idea_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input id='submit_new_wic_news' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </form>
            </div>


            {#           New News Modal END#}



        {#          EDIT  News Modal#}

            <div class="modal animated lightSpeedIn text-left" id="wic_news_edit_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <form id="submit_wic_news_edit_form" method="POST">
                    <input type="hidden" id="wic_edit_news_csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" id="wic_news_edit_id">
                    <div class="modal-xl modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add/Edit News Item</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-6 offset-4">
                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Date</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input type="date" class="form-control" required
                                                           id="wic_news_edit_date"
                                                           placeholder="e.g., Date">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Title
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_news_edit_title"
                                                           placeholder="Enter a title">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Authors
                                                </small>
                                            </div>

                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_news_edit_author"
                                                           placeholder="Enter author(s)">
                                                </fieldset>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Source</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_news_edit_source"
                                                           placeholder="Enter appropriate source">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Tickers</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_news_edit_tickers"
                                                           placeholder="eg., IBM US">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">URL</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input type="url" class="form-control" required id="wic_news_edit_url"
                                                           placeholder="eg., http://www.wsj.com">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Type/Paste Article
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_news_edit_article">

                                                </div>
                                            </div>

                                        </div>

                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id='close_wic_news_edit_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input id='submit_edit_wic_news' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </form>
            </div>


            {#           EDIT News Modal END#}


            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header card-head-inverse bg-dark">
                                <h2 class="card-title text-white center">News List</h2>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <button id='ess_idea_add_new_deal' class="btn btn-primary btn-sm"
                                            data-toggle="modal"
                                            data-target="#wic_news_modal"><i class="ft-plus white"></i> Add New
                                        News
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-content">
                               <div class="table-responsive">
                                <!-- Task List table -->
                                <table class="table table-striped table-bordered" id='wic_news_table'
                                >
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Source</th>
                                        <th>URL</th>
                                        <th>Author</th>
                                        <th>Article</th>
                                        <th>Associated Tickers</th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for news_item in newsmaster_list %}
                                        <tr id="row_{{ news_item.id }}">
                                            <td>{{ news_item.date|date:'Y-m-d' }}</td>
                                            <td>{{ news_item.title }}</td>
                                            <td>{{ news_item.source }}</td>
                                            <td><a href={{ news_item.url}} target="_blank">{{ news_item.url|slice:"0:25"|add:"..."  }}</a></td>
                                            <td>{{ news_item.author }}</td>
                                            <td><a data-value="{{ news_item.article}}"></a>{{ news_item.article|slice:"0:85"|add:"..."  }}</td>
                                            <td>{{ news_item.tickers }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="ft-settings"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a id="edit_{{ news_item.id }}"
                                                               data-value="{{ news_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-edit-2"></i> Edit</a></li>
                                                        <li><a id="delete_{{ news_item.id }}"
                                                               data-value="{{ news_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-trash-2"></i> Delete</a></li>
                                                        <li><a id="view_{{ news_item.id }}"
                                                               data-value="{{ news_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-plus-circle primary"></i> View</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>

    {% block datatables_js %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_js %}
        {{ block.super }}
    {% endblock %}

    {% block sweetalert_js %}
        {{ block.super }}
    {% endblock %}
    <script type="text/javascript" src="{% static 'app-assets/js/core/wic_news.js' %}"></script>

{% endblock %}