{% extends 'base.html' %}
{% block title_block %}
    Credit Database
{% endblock %}
{% load staticfiles %}
{% block css_styles %}

    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload-ui.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-ui.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/icheck.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/checkboxes-radios.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/summernote.css' %}">

{% endblock %}
{% block content %}



{% csrf_token %}
    {# Show a Button to Add a new Deal#}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div id="mna_idea_content_wrapper" class="content-body">
                <div class="modal animated lightSpeedIn text-left" id="credit_new_deal_modal" tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel42" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add a new Deal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <h5 class="text-center">Please fill the required information:</h5>
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Name</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='credit_deal_name'
                                                           class="form-control"
                                                           placeholder="eg:, AET - CVS "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Bucket</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset class="form-group">
                                                <select id="credit_deal_bucket_select" class="custom-select">
                                                    <option selected value="N/A">Select a Value</option>
                                                    <option value="Catalyst-Driven Credit">Catalyst-Driven Credit
                                                    </option>
                                                    <option value="Merger Related Credit">Merger Related Credit</option>
                                                    <option value="Relative Value Credit">Relative Value Credit</option>
                                                    <option value="Distressed">Distressed</option>
                                                    <option value="Yield to Call">Yield to Call</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Strategy Type</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset class="form-group">
                                                <select id="credit_deal_strategy_type" class="custom-select">
                                                    <option selected value="N/A">Select a Value</option>
                                                    <option value="Refinancing">Refinancing
                                                    </option>
                                                    <option value="Speculated M&A">Speculated M&A</option>
                                                    <option value="Merger Arbitrage">Merger Arbitrage</option>
                                                    <option value="Relative Value">Relative Value</option>
                                                    <option value="Definitive M&A">Definitive M&A</option>
                                                    <option value="Special Situation">Special Situation</option>
                                                    <option value="Levering">Levering</option>
                                                    <option value="Deep Value">Deep Value</option>
                                                    <option value="De-Levering">De-Levering</option>
                                                    <option value="Spin-off">Spin-off</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Catalyst</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset class="form-group">
                                                <select id="credit_catalyst_select" class="custom-select">
                                                    <option selected value="N/A">Select a Value</option>
                                                    <option value="Hard">Hard
                                                    </option>
                                                    <option value="Soft">Soft</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Catalyst Tier</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset class="form-group">
                                                <select id="credit_catalyst_tier_select" class="custom-select">
                                                    <option selected value="N/A">Select a Value</option>
                                                    <option value="1">1
                                                    </option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Target Sec CUSIP</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='credit_target_security_cusip'
                                                           class="form-control"
                                                           placeholder="eg,. 00817Y108"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Coupon</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='credit_coupon'
                                                           class="form-control"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                   <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Hedge Sec. CUSIP</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='credit_hedge_security_cusip'
                                                           class="form-control"
                                                           placeholder="eg,. 00817Y108"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Est. Closing Date</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="date" required id='credit_estimated_close_date'
                                                           class="form-control"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Upside Price</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required
                                                           id='credit_upside_price'
                                                           class="form-control"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Downside Price</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required
                                                           id='credit_downside_price'
                                                           class="form-control"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                                <hr>
                            </div>
                            <div class="modal-footer">
                                <button id='close_credit_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>

                                <input id='submit_credit_new_deal_request' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </div>
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title font-medium-3 center">Credit Database</h4>
                                    <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <button id='credit_add_new_deal' class="btn btn-primary btn-sm"
                                                data-toggle="modal"
                                                data-target="#credit_new_deal_modal"><i class="ft-plus white"></i> Add
                                            New
                                            Deal
                                        </button>

                                    </div>
                                </div>
                            </div>

                            <div class="card-content">
                                <div class="table-responsive">
                                    <!-- Task List table -->
                                    <table class="table table-striped table-bordered" id='credit_table'
                                           style="font-size:12px;">
                                        <thead>
                                        <tr>
                                            <th>Deal Name</th>
                                            <th>Deal Bucket</th>
                                            <th>Deal Strategy Type</th>
                                            <th>Catalyst</th>
                                            <th>Catalyst Tier</th>
                                            <th>Target Security CUSIP</th>
                                            <th>Coupon</th>
                                            <th>Hedge Security CUSIP</th>
                                            <th>Estimated Close Date</th>
                                            <th>Upside Price</th>
                                            <th>Downside Price</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for row in credit_deals_df %}
                                            <tr id="row_{{ row.id }}">
                                                <td>{{ row.deal_name }}</td>
                                                <td>{{ row.deal_bucket }}</td>
                                                <td>{{ row.deal_strategy_type }}</td>
                                                <td>{{ row.catalyst }}</td>
                                                <td>{{ row.catalyst_tier }}</td>
                                                <td>{{ row.target_security_cusip }}</td>
                                                <td> {{ row.coupon }}</td>
                                                <td> {{ row.hedge_security_cusip }}</td>
                                                <td> {{ row.estimated_close_date }}</td>
                                                <td> {{ row.upside_price }}</td>
                                                <td> {{ row.downside_price }}</td>
                                                <td>
                                                    <div class="btn-group">
                                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                                data-toggle="dropdown" aria-haspopup="true"
                                                                aria-expanded="false">
                                                            <i class="ft-settings"></i>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            {# <li><a id="edit_{{ row.id }}" data-value="{{ row.id }}" class='dropdown-item' href="#"><i class="ft-edit-2"></i> Edit</a></li>#}
                                                            <li><a id="delete_{{ row.id }}" data-value="{{ row.id }}"
                                                                   class='dropdown-item' href="#"><i
                                                                    class="ft-trash-2"></i> Delete</a></li>
                                                            <li><a id="view_{{ row.id }}" data-value="{{ row.id }}"
                                                                   class='dropdown-item' href="#"><i
                                                                    class="ft-plus-circle primary"></i> View</a></li>
                                                        </ul>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    </div>
    </div>




    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/icheck/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>


    <script src="{% static 'app-assets/vendors/js/editors/summernote/summernote.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/scripts/forms/checkbox-radio.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/core/credit_database.js' %}" type="text/javascript"></script>


{% endblock %}