{% extends 'base.html' %}
{% block title_block %}
    M&A IDEA Database
{% endblock %}
{% load staticfiles %}
{% block jquery_file_upload_css %}
    {{ block.super }}
{% endblock %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}

{% block datatables_bootstrap_css %}
    {{ block.super }}
{% endblock %}

{% block checkboxes_css %}
    {{ block.super }}
{% endblock %}

{% block summernote_css %}
    {{ block.super }}
{% endblock %}
{% block content %}




    {# Show a Button to Add a new Deal#}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div id="mna_idea_content_wrapper" class="content-body">
                <div class="modal animated lightSpeedIn text-left" id="mna_idea_new_deal_modal" tabindex="-1"
                     role="dialog"
                     aria-labelledby="myModalLabel42" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Simulate Deal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <h5 class="text-center">Please fill the required information:</h5>
                                <input type="hidden" id="mna_idea_csrf_token" value="{{ csrf_token }}">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Name</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_dealname'
                                                           class="form-control"
                                                           placeholder="eg:, AET - CVS "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Analyst</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_analyst'
                                                           class="form-control"
                                                           placeholder="eg, JSO "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Target Ticker</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_target_ticker'
                                                           class="form-control"
                                                           placeholder="eg:, AET US EQUITY "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Acquirer Ticker</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_acquirer_ticker'
                                                           class="form-control"
                                                           placeholder="CVS US EQUITY"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Cash Terms</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_cash_terms'
                                                           class="form-control"
                                                           placeholder="Cash Terms"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Share Terms</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_share_terms'
                                                           class="form-control"
                                                           placeholder="Stock Terms "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Deal Value</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_deal_value'
                                                           class="form-control"
                                                           placeholder="Deal Value "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Expected Close</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="date" required id='mna_idea_simulate_expected_close'
                                                           class="form-control"
                                                           placeholder="Expected Close"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Target Dividends</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_target_dividends'
                                                           class="form-control"
                                                           placeholder="Tgt Dvd"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Acquirer Dividends</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required
                                                           id='mna_idea_simulate_acquirer_dividends'
                                                           class="form-control"
                                                           placeholder="Acq. Dvd"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Short Rebate</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_short_rebate'
                                                           class="form-control"
                                                           placeholder="Short Rebate"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">FX Carry %</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required
                                                           id='mna_idea_simulate_fx_carry_percentage'
                                                           class="form-control"
                                                           placeholder=""
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Stub/CVR Value</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_stub_cvr_value'
                                                           class="form-control"
                                                           placeholder=""
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Target Downside</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_target_downside'
                                                           class="form-control"
                                                           placeholder="Tgt Downside "
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Acquirer Upside</small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_acquirer_upside'
                                                           class="form-control"
                                                           placeholder="Acq. Upside"
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-lg-2 offset-1 block-tag">
                                            <small class="badge badge-default badge-success">Loss Tol(%) of Limit
                                            </small>
                                        </div>
                                        <div class="col-lg-6 offset-1">
                                            <fieldset>
                                                <div class="input-group">
                                                    <input type="text" required id='mna_idea_simulate_loss_tolerance'
                                                           class="form-control"
                                                           placeholder=""
                                                           aria-describedby="checkbox-addon1"/>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <br>


                                </fieldset>
                                <hr>
                            </div>
                            <div class="modal-footer">
                                <button id='close_mna_idea_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <button id='calculate_deal_value' type="button"
                                        class="btn btn-info btn-outline-primary">Calculate Deal Value
                                </button>
                                <input id='submit_mna_idea_new_deal_request' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </div>
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title font-medium-3 center">Merger Arbitrage</h4>
                                    <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <button id='mna_idea_add_new_deal' class="btn btn-primary btn-sm"
                                                data-toggle="modal"
                                                data-target="#mna_idea_new_deal_modal"><i class="ft-plus white"></i> Add
                                            New
                                            Deal
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="mna_idea_csrf_token" value="{{ csrf_token }}">
                            <div class="card-content">
                                <ul class="nav nav-pills nav-justified nav-underline no-hover-bg">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab90" data-toggle="tab"
                                           aria-controls="tab90"
                                           href="#tab90" aria-expanded="true">M&A Universe</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab91" data-toggle="tab" aria-controls="tab91"
                                           href="#tab91"
                                           aria-expanded="false">Archived Deals</a>
                                    </li>

                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab90" aria-expanded="true"
                                         aria-labelledby="base-tab90">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered" id='mna_idea_table'
                                                   style="font-size:12px;">
                                                <thead>
                                                <tr>
                                                    <th>Analyst</th>
                                                    <th>Deal Name</th>
                                                    <th>Created</th>
                                                    <th>Last Modified</th>
                                                    <th><br>Cash Terms</th>
                                                    <th><br>Share Terms</th>
                                                    <th>Upside</th>
                                                    <th>TargetDownside</th>
                                                    <th>AcquirerUpside</th>
                                                    <th>Last Downside Update</th>
                                                    <th>Deal Value</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for row in deals_df %}
                                                    <tr id="row_{{ row.id }}">
                                                        <td>{{ row.analyst }}</td>
                                                        <td>{{ row.deal_name }}</td>
                                                        <td>{{ row.created }}</td>
                                                        <td>{{ row.last_modified }}</td>
                                                        <td>{{ row.deal_cash_terms }}</td>
                                                        <td>{{ row.deal_share_terms }}</td>
                                                        <td> {{ row.deal_upside }}</td>
                                                        <td> {{ row.target_downside }}</td>
                                                        <td> {{ row.acquirer_upside }}</td>
                                                        <td> {{ row.last_downside_update }}</td>
                                                        <td> {{ row.deal_value }}</td>
                                                        <td>{{ row.status }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                        class="btn btn-primary dropdown-toggle"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="ft-settings"></i>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a id="delete_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-trash-2"></i> Delete</a></li>
                                                                    <li><a id="view_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-plus-circle primary"></i> View</a>
                                                                    </li>
                                                                    <li><a id="archive_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-briefcase danger"></i> Archive</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="tab91" aria-expanded="true"
                                         aria-labelledby="base-tab91">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered" id='mna_idea_table_archived'
                                                   style="font-size:12px;">
                                                <thead>
                                                <tr>
                                                    <th>Analyst</th>
                                                    <th>Deal Name</th>
                                                    <th>Created</th>
                                                    <th>Last Modified</th>
                                                    <th><br>Cash Terms</th>
                                                    <th><br>Share Terms</th>
                                                    <th>Upside</th>
                                                    <th>TargetDownside</th>
                                                    <th>AcquirerUpside</th>
                                                    <th>Last Downside Update</th>
                                                    <th>Deal Value</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for row in archived_deals_df %}
                                                    <tr id="row_{{ row.id }}">
                                                        <td>{{ row.analyst }}</td>
                                                        <td>{{ row.deal_name }}</td>
                                                        <td>{{ row.created }}</td>
                                                        <td>{{ row.last_modified }}</td>
                                                        <td>{{ row.deal_cash_terms }}</td>
                                                        <td>{{ row.deal_share_terms }}</td>
                                                        <td> {{ row.deal_upside }}</td>
                                                        <td> {{ row.target_downside }}</td>
                                                        <td> {{ row.acquirer_upside }}</td>
                                                        <td> {{ row.last_downside_update }}</td>
                                                        <td> {{ row.deal_value }}</td>
                                                        <td>{{ row.status }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button"
                                                                        class="btn btn-primary dropdown-toggle"
                                                                        data-toggle="dropdown" aria-haspopup="true"
                                                                        aria-expanded="false">
                                                                    <i class="ft-settings"></i>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    <li><a id="delete_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-trash-2"></i> Delete</a></li>
                                                                    <li><a id="view_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-plus-circle primary"></i>View</a>
                                                                    </li>
                                                                    <li><a id="restore_{{ row.id }}"
                                                                           data-value="{{ row.id }}"
                                                                           class='dropdown-item'><i
                                                                            class="ft-briefcase danger"></i>Restore to Main Tab</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    </div>
    </div>


    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>

    {% block sweetalert_js %}
        {{ block.super }}
    {% endblock %}

    {% block checkbox_js %}
        {{ block.super }}
    {% endblock %}

    {% block boootstrap %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_js %}
        {{ block.super }}
    {% endblock %}

    <script src="{% static 'app-assets/js/core/mna_idea_database.js' %}" type="text/javascript"></script>


{% endblock %}