{% extends 'base.html' %}
{% block title_block %}
    View M&A IDEA
{% endblock %}
{% load staticfiles %}

{% block summernote_css %}
    {{ block.super }}
{% endblock %}

{% block amcharts_scripts %}
    {{ block.super }}
{% endblock %}

{% block loaders_css %}
    {{ block.super }}
{% endblock %}

{% block date_range_pickers %}
    {{ block.super }}
{% endblock %}

{% block css_styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="app-content content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-gradient-directional-brown card-head-inverse">
                        <h4 class="card-title text-center white">{{ deal_core.deal_name }} (Unaffected
                            Date): {{ deal_core.unaffected_date }}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <input type="hidden" id="overlay_weekly_downside_estimates"
                   value="{{ overlay_weekly_downside_estimate.estimate }}">
            <input type="hidden" id="overlay_weekly_downside_date_updated"
                   value="{{ overlay_weekly_downside_estimate.date_updated }}">
            <input type="hidden" id="unaffected_date" value="{{ deal_core.unaffected_date }}">
            <input type="hidden" id="alpha_chart" value="{{ alpha_chart }}">
            <input type="hidden" id="deal_note" value="{{ deal_note }}">
            <input type="hidden" id="deal_comments" value="{{ deal_note.note }}">
            <input type="hidden" id="mna_new_notes_csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="mna_delete_notes_csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="mna_update_notes_csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="deal_id" value="{{ deal_core.id }}">
            <input type="hidden" id="historical_px_last" value="{{ px_last_historical }}">
            <input type="hidden" id="historical_px_last_acquirer" value="{{ px_last_historical_acquirer }}">
            <input type="hidden" id="target_ticker" value="{{ target_ticker }}">
            <input type="hidden" id="acquirer_ticker" value="{{ acquirer_ticker }}">
            <input type="hidden" id="comments_csrf_token" value="{{ csrf_token }}">
            <input type="hidden" id="deal_id_under_consideration" value="{{ deal_core.id }}">
            <input type="hidden" id="scenario_analysis_object" value="{{ scenario_analysis_object }}">
            <input type="hidden" id="break_change" value="{{ scenario_analysis_object.break_change }}">
            <input type="hidden" id="scenario_change" value="{{ scenario_analysis_object.scenario_change }}">
            <input type="hidden" id="scenario_change_55_45"
                   value="{{ scenario_analysis_object.scenario_change_55_45 }}">
            <input type="hidden" id="break_scenario" value="{{ scenario_analysis_object.break_scenario_df }}">
            <input type="hidden" id="scenario_75_25" value="{{ scenario_analysis_object.scenario_75_25 }}">
            <input type="hidden" id="scenario_55_45" value="{{ scenario_analysis_object.scenario_55_45 }}">
            <input type="hidden" id="peer_valuation_charts" value="{{ peer_charts }}">
            <input type="hidden" id="cix_index_json" value="{{ px_last_cix_index }}">
            <input type="hidden" id="spread_index_json" value="{{ px_last_spread_index }}">


            <div class="row">
                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">

                                <ul class="nav nav-tabs nav-justified nav-underline no-hover-bg">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab41" data-toggle="tab"
                                           aria-controls="tab41"
                                           href="#tab41" aria-expanded="true">Target/Acquirer Charts</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab42" data-toggle="tab" aria-controls="tab42"
                                           href="#tab42"
                                           aria-expanded="false">Peer Index</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab43" data-toggle="tab" aria-controls="tab43"
                                           href="#tab43"
                                           aria-expanded="false">Spread Index</a>
                                    </li>
                                </ul>

                                <div class="tab-content px-1 pt-1">
                                    <div role="tabpanel" class="tab-pane active" id="tab41" aria-expanded="true"
                                         aria-labelledby="base-tab41">

                                        <div id="mna_idea_targetAcquirer_chart" style="height: 430px">

                                        </div>

                                    </div>
                                    <div class="tab-pane " id="tab42" aria-labelledby="base-tab42"
                                    >
                                        <div id="mna_idea_cix_price_chart" style="height: 430px">

                                        </div>
                                    </div>
                                    <div class="tab-pane " id="tab43" aria-labelledby="base-tab43"
                                    >
                                        <div id="mna_idea_spread_index_chart" style="height: 430px">

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <p class="card-text text-lg-center">
                                <small class="text-muted">Chart Insights</small>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-12">
                    <div class="card">
                        <div class="card-content" style="height: 478px">
                            <div class="card-body">

                                <ul class="nav nav-tabs nav-justified nav-underline no-hover-bg">

                                    <li class="nav-item">
                                        <a class="nav-link active" id="base-tab48" data-toggle="tab"
                                           aria-controls="tab50"
                                           href="#tab50"
                                           aria-expanded="false">Weekly Downside Estimates</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab45" data-toggle="tab"
                                           aria-controls="tab45"
                                           href="#tab45"
                                           aria-expanded="false">EV/EBITDA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab45" data-toggle="tab"
                                           aria-controls="tab51"
                                           href="#tab51"
                                           aria-expanded="false">EV/Sales</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab46" data-toggle="tab" aria-controls="tab46"
                                           href="#tab46"
                                           aria-expanded="false">PE Ratio</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab47" data-toggle="tab" aria-controls="tab47"
                                           href="#tab47"
                                           aria-expanded="false">FCF Yield</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="base-tab48" data-toggle="tab" aria-controls="tab48"
                                           href="#tab48"
                                           aria-expanded="false">Lawyer Reports</a>
                                    </li>

                                </ul>

                                <div class="tab-content px-1 pt-1">
                                    <div role="tabpanel" class="tab-pane" id="tab45" aria-expanded="true"
                                         aria-labelledby="base-tab45">
                                        <div class="row">
                                            <div class="loader height-10-per">
                                                <div class="loader-inner pacman">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" id="show_ltm_dataset"
                                                class="btn btn-sm btn-outline-info show_ltm_dataset"
                                                data-sidebar="menu-light">
                                            LTM
                                        </button>
                                        <button type="button" id="show_1bf_dataset"
                                                class="btn btn-sm btn-outline-info show_1bf_dataset"
                                                data-sidebar="menu-light">
                                            1BF
                                        </button>
                                        <button type="button" id="show_2bf_dataset"
                                                class="btn btn-sm btn-outline-info show_2bf_dataset"
                                                data-sidebar="menu-light">
                                            2BF
                                        </button>
                                        <div id="mna_idea_ev_ebitda_chart" style="height: 385px;">

                                        </div>
                                    </div>

                                    <div class="tab-pane " id="tab51" aria-labelledby="base-tab51">
                                        <button type="button" id="show_ltm_dataset"
                                                class="btn btn-sm btn-outline-info show_ltm_dataset"
                                                data-sidebar="menu-light">
                                            LTM
                                        </button>
                                        <button type="button" id="show_1bf_dataset"
                                                class="btn btn-sm btn-outline-info show_1bf_dataset"
                                                data-sidebar="menu-light">
                                            1BF
                                        </button>
                                        <button type="button" id="show_2bf_dataset"
                                                class="btn btn-sm btn-outline-info show_2bf_dataset"
                                                data-sidebar="menu-light">
                                            2BF
                                        </button>
                                        <div id="mna_idea_ev_sales_chart" style="height: 385px;">
                                        </div>
                                    </div>

                                    <div class="tab-pane " id="tab46" aria-labelledby="base-tab46">
                                        <button type="button" id="show_ltm_dataset"
                                                class="btn btn-sm btn-outline-info show_ltm_dataset"
                                                data-sidebar="menu-light">
                                            LTM
                                        </button>
                                        <button type="button" id="show_1bf_dataset"
                                                class="btn btn-sm btn-outline-info show_1bf_dataset"
                                                data-sidebar="menu-light">
                                            1BF
                                        </button>
                                        <button type="button" id="show_2bf_dataset"
                                                class="btn btn-sm btn-outline-info show_2bf_dataset"
                                                data-sidebar="menu-light">
                                            2BF
                                        </button>
                                        <div id="mna_idea_pe_ratio_chart" style="height: 385px;">
                                        </div>
                                    </div>
                                    <div class="tab-pane " id="tab47" aria-labelledby="base-tab47">
                                        <div id="mna_idea_fcf_yield_chart" style="height: 385px;">
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="tab48" aria-labelledby="base-tab48">
                                        <div class="table-responsive table-hover">
                                            <table class="table table-striped table-bordered table-hover"
                                                   id='mna_idea_lawyer_reports_table'>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Analyst</th>
                                                    <th>Lawyer Report</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for report in deal_lawyer_reports %}
                                                    <tr class="{% if report.analyst_rating == '1' %}clickable-row-lawyer-reports bg-success text-white {% elif report.analyst_rating == '2' %}clickable-row-lawyer-reports bg-warning text-white{% else %}
                                                    clickable-row-lawyer-reports bg-danger text-white {% endif %}"
                                                        data-id="{{ report.id }}"
                                                        data-rating="{{ report.analyst_rating }}">
                                                        <td>{{ report.lawyer_report_date }}</td>
                                                        <td>{{ report.analyst_by }}</td>
                                                        <td>{{ report.lawyer_report }}</td>
                                                    </tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="tab-pane " id="tab50" aria-labelledby="base-tab48">
                                        <div class="table-responsive table-hover" style="height:385px">
                                            <table class="table table-striped table-bordered table-hover"
                                                   id='mna_idea_weekly_downside_estimates_table'>
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th>Week No</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Analyst</th>
                                                    <th>Estimate</th>
                                                    <th>Updated On</th>
                                                    <th>Comment</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for eachEstimate in weekly_downside_estimates %}
                                                    <tr>
                                                        <td>{{ eachEstimate.week_no }}</td>

                                                        <td>{{ eachEstimate.start_date }}</td>

                                                        <td>{{ eachEstimate.end_date }}</td>

                                                        <td>{{ eachEstimate.analyst }}</td>

                                                        <td>{{ eachEstimate.estimate }}</td>

                                                        <td>{{ eachEstimate.date_updated }}</td>

                                                        <td><a class="eventSend" href="#weekly_downside_modal"
                                                               data-comment="{{ eachEstimate.comment }}">Click
                                                            to View</a></td>

                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <br>

                                    </div>


                                </div>
                            </div>

                        </div>

                        <div class="card-footer text-center">

                            <button id='mna_idea_add_peers_button'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_add_peers_modal"><i
                                    class="ft-plus white"></i>Add/Update Peers
                            </button>


                            <button id='mna_idea_add_unaffected_date_button'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_add_unaffected_date_modal"><i
                                    class="ft-plus white"></i>Add Unaffected Date
                            </button>

                            <button id='mna_idea_add_cix_button'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_add_cix_modal"><i
                                    class="ft-plus white"></i>Add/Update Peer Index
                            </button>

                            <button id='mna_idea_add_spread_index_button'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_add_spread_index_modal"><i
                                    class="ft-plus white"></i>Add Spread Index
                            </button>


                            <button id='mna_idea_add_lawyer_reports'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_add_lawyer_report_modal"><i
                                    class="ft-plus white"></i>Add Lawyer Reports
                            </button>


                            <button id='mna_idea_add_weeklydownside'
                                    class="btn btn-primary btn-sm"
                                    data-toggle="modal"
                                    data-target="#mna_idea_weekly_donwside_modal"><i
                                    class="ft-plus white"></i>Add Weekly Downside Estimates
                            </button>

                        </div>

                    </div>
                </div>

            </div>

            {# MNA IDEA COMMENTS MODAL#}
            <div class="modal animated lightSpeedIn text-left" id="mna_idea_weekly_donwside_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel42">Add/Update your Weekly Downside...</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="row">
                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <input type="number" class="form-control" required
                                               id="mna_idea_weekly_downside_estimate"
                                               placeholder="Input your Downside Estimate....">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset class="form-group position-relative">
                                        <select id='mna_idea_weekly_downside_analyst'
                                                class="custom-select form-control input-lg">
                                            <option selected>By Analyst:</option>
                                            <option>Roger Foltynowicz</option>
                                            <option>Todd Munn</option>
                                            <option>Eric Becker</option>
                                            <option>Matthew Osowiecki</option>
                                            <option>Kyung Park</option>
                                            <option>John S Orrico</option>
                                            <option>Sanjay Pall</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <div class="container" id="mna_idea_weekly_downside_estimate_comment">
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <input id='submit_mna_idea_weekly_downside_request' type="button"
                                       class="btn btn-success" value="Save changes">
                                <button type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {# MNA IDEA COMMENTS MODAL END#}

            {# MNA IDEA WEEKLY DOWNSIDE MODAL#}
            <div class="modal animated lightSpeedIn text-left" id="weekly_downside_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel42">Here's the comment on downside...</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="container" id="mna_idea_weekly_downside_estimate_click_comment">
                                    </div>
                                </div>
                                <br>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <input id='submit_mna_idea_weekly_downside_request' type="button"
                                       class="btn btn-success" value="Save changes">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {# MNA IDEA WEEKLY DOWNSIDE MODAL END#}

            {# MA IDEA ADD LAWYER REPORT MODAL#}
            <div class="modal animated fadeInDown text-left" id="mna_idea_add_lawyer_report_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-xl modal-dialog" role="document">
                    <input type="hidden" value="{{ csrf_token }}" id="mna_idea_lawyer_csrf_token">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel42">Add a new Lawyer Report</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">

                            <div class="row">
                                <input type="hidden" id="mna_idea_peers_csrf_token" value="{{ csrf_token }}">

                                <div class="col-lg-12">
                                    <fieldset class="form-group">
                                        <input type="date" class="form-control" required
                                               id="mna_idea_lawyer_date"
                                               placeholder="e.g., Date">
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <fieldset class="form-group position-relative">
                                        <select id='lawyer_analyst_by' class="custom-select form-control input-lg">
                                            <option selected>By Analyst:</option>
                                            <option>Roger Foltynowicz</option>
                                            <option>Todd Munn</option>
                                            <option>Eric Becker</option>
                                            <option>Matthew Osowiecki</option>
                                            <option>Kyung Park</option>
                                            <option>John S Orrico</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <div class="col-lg-12">
                                    <div class="container" id="mna_idea_lawyer_report">
                                    </div>
                                </div>
                                <div class="col-lg-1 block-tag offset-5">
                                    <small class="badge badge-default badge-success">Opinion on the Report</small>
                                </div>
                                <br><br>
                                <div class="col-lg-12">
                                    <fieldset class="form-group position-relative">
                                        <select id='lawyer_analyst_rating' class="custom-select form-control input-lg">
                                            <option selected>Assign a Rating: (1-Favorable, 3-Not Favorable)</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </fieldset>
                                </div>

                                <br>
                            </div>
                            <div class="modal-footer">
                                <input id='mna_idea_update_lawyer_report_request' type="button"
                                       class="btn btn-warning" value="Post Update">

                                <input id='mna_idea_delete_lawyer_report_request' type="button"
                                       class="btn btn-danger" value="Delete Report">

                                <input id='submit_mna_idea_new_lawyer_report_request' type="button"
                                       class="btn btn-success" value="Save as New Report">

                                <button type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {# MA IDEA LAWYER REPORT MODAL END#}

            {# MA IDEA ADD CIX INDEX MODAL#}
            <div class="modal animated fadeInDown text-left" id="mna_idea_add_cix_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-sm modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel42">Add CIX for this deal..</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="text" placeholder="e.g, .ARBENEW INDEX" class="form-control"
                                           id="mna_idea_cix_input">
                                </div>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <button id='close_mna_idea_cix_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input type="hidden" id="cix_index_csrf_token" value="{{ csrf_token }}">
                                <input id='submit_mna_idea_new_cix_request' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            {# MA IDEA ADD CIX INDEX END#}

            {# MA IDEA ADD SPREAD INDEX MODAL#}
            <div class="modal animated fadeInDown text-left" id="mna_idea_add_spread_index_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-sm modal-dialog" role="document">
                    <form method="POST" id="mna_idea_add_spread_index_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add Spread Index for this deal..</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <input type="text" placeholder="e.g, .AET-CVS Index" class="form-control"
                                               id="mna_idea_spread_index_input">
                                    </div>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button id='close_mna_idea_spread_index_modal' type="button"
                                            class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                    </button>
                                    <input id='submit_mna_idea_new_spread_index_request' type="submit"
                                           class="btn btn-outline-primary" value="Save Changes">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {# MA IDEA ADD SPREAD INDEX END#}

            {# MA IDEA ADD UNAFFECTED DATE MODAL#}
            <div class="modal animated fadeInDown text-left" id="mna_idea_add_unaffected_date_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-sm modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel42">Add Unaffected Date..</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <input type="date" placeholder="" class="form-control"
                                           id="mna_idea_unaffected_date_input">
                                </div>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <button id='close_mna_idea_add_unaffected_date_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input id='submit_mna_idea_unaffected_date_request' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {# MA IDEA ADD UNAFFECTED DATE END#}
            {# MA IDEA ADD PEERS MODAL#}
            <div class="modal animated fadeInDown text-left" id="mna_idea_add_peers_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <div class="modal-sm modal-dialog" role="document">
                    <form method="POST" id="mna_idea_add_peers_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add Peers for this deal</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">
                                    <input type="hidden" id="mna_idea_peers_csrf_token" value="{{ csrf_token }}">

                                    <div class="col-lg-12">

                                        <table class="table table-bordered" id="mna_idea_peer_table">
                                            <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Ticker</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr id="ticker_hedge_1">
                                                <th scope="row">1</th>
                                                <td>
                                                    <input id="ticker_hedge_1_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>

                                            <tr id="ticker_hedge_2">
                                                <th scope="row">2</th>
                                                <td>
                                                    <input id="ticker_hedge_2_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_3">
                                                <th scope="row">3</th>
                                                <td>
                                                    <input id="ticker_hedge_3_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_4">
                                                <th scope="row">4</th>
                                                <td>
                                                    <input id="ticker_hedge_4_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_5">
                                                <th scope="row">5</th>
                                                <td>
                                                    <input id="ticker_hedge_5_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_6">
                                                <th scope="row">6</th>
                                                <td>
                                                    <input id="ticker_hedge_6_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_7">
                                                <th scope="row">7</th>
                                                <td>
                                                    <input id="ticker_hedge_7_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_8">
                                                <th scope="row">8</th>
                                                <td>
                                                    <input id="ticker_hedge_8_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_9">
                                                <th scope="row">9</th>
                                                <td>
                                                    <input id="ticker_hedge_9_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            <tr id="ticker_hedge_10">
                                                <th scope="row">10</th>
                                                <td>
                                                    <input id="ticker_hedge_10_ticker" class="form-control"
                                                           placeholder="e.g., IBM US">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <fieldset>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="save_peer_to_db_check">
                                                    <label class="custom-control-label"
                                                           for="save_peer_to_db_check">Save Peer-set?</label>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button id='close_mna_idea_peers_modal' type="button"
                                            class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                    </button>
                                    <input id='submit_mna_idea_new_peers_request' type="submit"
                                           class="btn btn-outline-primary" value="Save Changes">
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>


            {# MA IDEA ADD PEERS MODAL END#}

            <div class="row">


                <div class="col-lg-12">
                    <div class="card">

                        <div class="card-head">
                            <div class="card-header card-head-inverse bg-dark">
                                <h4 class="card-title text-light text-center">Overview
                                </h4>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                            </div>
                        </div>

                        <div class="card-content"><br>

                            <div class="row">
                                <div class="col-lg-3 block-tag offset-3">
                                    <small class="badge badge-default badge-success">Analyst Comments</small>
                                    <br>
                                    <small class="badge badge-default badge-info">
                                        Edited: {{ deal_note.last_edited }}
                                    </small>
                                    <br>
                                </div>

                                <div class="col-lg-3 block-tag offset-3">
                                    <button id='open_arb_risk_form' class="btn btn-primary btn-sm">
                                            <i class="ft-flag"></i> <a href="{% url 'risk:show_risk_factors' deal_id=deal_core.id %}" target="_blank" style="text-decoration:none">Open Risk Form</a>
                                    </button>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="container" id="mna_idea_analyst_comments"
                                             data-value="{{ deal_note.note }}">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">

                                    </div>

                                </div>

                                <br><br>
                            </div>


                            <br><br>


                            <br><br>
                            <button type="button" id="save_mna_idea_overviews"
                                    class="col-lg-2 offset-5 btn btn-primary btn-lg ">Save Edits
                            </button>
                            <br><br>
                        </div>
                    </div>
                </div>

            </div>


            {# Section for Scenario Analysis#}

            <div class="col-lg-12 ">
                <input type="hidden" id="scenario_analysis_csrf_token" value="{{ csrf_token }}">
                <div class="card">
                    <div class="card-header card-head-inverse bg-gradient-radial-blue-grey">
                        <h2 class="card-title text-center text-light">Scenario Analysis</h2>
                    </div>
                    <br><br>
                    <div class="card-content">

                        <div class="row">
                            <div class="col-lg-1 block-tag offset-1">
                                <small class="badge badge-default badge-success">Deal Cash Terms</small>
                            </div>
                            <input type="text" id="deal_cash_terms" class="col-lg-2 form-control"
                                   value="{{ deal_core.deal_cash_terms }}"
                                   placeholder="Input Cash Terms">

                            <div class="col-lg-1 block-tag">
                                <small class="badge badge-default badge-success">Deal Share Terms</small>
                            </div>
                            <input type="text" id='deal_share_terms' class="col-lg-2 form-control"
                                   value="{{ deal_core.deal_share_terms }}"
                                   placeholder="Input Stock Terms">

                            {% if deal_core.deal_share_terms != 0 %}

                                <div class="col-lg-1 block-tag">
                                    <small class="badge badge-default badge-success">Acquirer Upside</small>
                                </div>
                                <input type="number" id='deal_acquirer_upside' class="col-lg-2 form-control"
                                       value="{{ deal_core.acquirer_upside }}"
                                       placeholder="Input Acquirer Upside">

                            {% endif %}
                        </div>

                        <br><br>
                        <div class="row">

                            <div class="col-lg-1 block-tag offset-1">
                                <small class="badge badge-default badge-success">Total AUM</small>
                            </div>
                            <input type="number" id="fund_aum" class="col-lg-2 form-control" value="{{ fund_aum }}"
                                   placeholder="AUM">
                            <div class="col-lg-1 block-tag">
                                <small class="badge badge-default badge-success">Deal Upside</small>
                            </div>
                            <input type="number" id="deal_upside" class="col-lg-2 form-control"
                                   value="{{ deal_core.deal_value }}"
                                   placeholder="Input Deal Upside">

                            <div class="col-lg-1 block-tag">
                                <small class="badge badge-default badge-success">Deal Downside</small>
                            </div>
                            <input type="number" id='deal_downside' class="col-lg-2 form-control"
                                   value="{{ deal_core.target_downside }}"
                                   placeholder="Input Deal Downside">
                            <div>
                            </div>

                        </div>
                        <br><br>
                        <div class="row">

                            <div class="col-lg-1 block-tag offset-1">
                                <small class="badge badge-default badge-success">Target Current Price</small>
                            </div>
                            <input type="number" id='target_current_price' class="col-lg-2 form-control"
                                   value="{{ target_px_last }}"
                                   placeholder="Target PX_LAST">
                            <div class="col-lg-1 block-tag">
                                <small class="badge badge-default badge-success">Tgt. Shares Out.</small>
                            </div>
                            <input type="number" id="target_shares_outstanding" class="col-lg-2 form-control"
                                   value="{{ eqy_sh_out }}"
                                   placeholder="Target Shares Out">

                            <div class="col-lg-1 block-tag">
                                <small class="badge badge-default badge-success">Target Shares (Float)</small>
                            </div>
                            <input type="number" id='target_shares_float' class="col-lg-2 form-control"
                                   value="{{ eqy_float }}"
                                   placeholder="Target Shares Float">
                            <div>
                            </div>

                        </div>
                        <br><br>

                        <button type="button" id='run_scenario_analysis'
                                class="col-lg-1 offset-5 center btn btn-primary btn-lg ">Run Analysis
                        </button>


                        <br><br>

                    </div>
                </div>


            </div>
        </div>


        {# Section Scenario Analysis End#}

        {# Scenario Analysis Sheet#}
        <div class="row">
            <div class="col-lg-12 ">

                <div class="card">
                    <div class="card-header card-head-inverse bg-gradient-directional-blue-grey">
                        <h2 class="card-title text-center text-light">Analysis Results 1. Deal Break</h2>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-hover">
                            <!-- Task List table -->
                            <table class="table table-striped " id='deal_break_analysis'>
                                <thead>
                                <tr>
                                    <th>Change</th>
                                    <th class="text-danger">0.15</th>
                                    <th class="text-danger">0.20</th>
                                    <th class="text-danger">0.25</th>
                                    <th class="text-danger">0.30</th>
                                    <th class="text-danger">0.40</th>
                                    <th class="text-danger">0.50</th>
                                    <th class="text-danger">0.60</th>
                                    <th class="text-danger">0.75</th>
                                    <th class="text-danger">0.80</th>
                                    <th class="text-danger">0.90</th>
                                    <th class="text-danger">1.0</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        {#Scenario Analysis for 75/25 Probability#}
        <div class="row">
            <div class="col-lg-12 ">

                <div class="card">
                    <div class="card-header card-head-inverse bg-gradient-directional-blue-grey">
                        <h2 class="card-title text-center text-light">Analysis Results 2. 75/25 Chance</h2>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-hover">
                            <!-- Task List table -->
                            <table class="table table-striped " id='deal_break_analysis_75_25'>
                                <thead>
                                <tr>
                                    <th>Change</th>
                                    <th class="text-danger">0.15</th>
                                    <th class="text-danger">0.20</th>
                                    <th class="text-danger">0.25</th>
                                    <th class="text-danger">0.30</th>
                                    <th class="text-danger">0.40</th>
                                    <th class="text-danger">0.50</th>
                                    <th class="text-danger">0.60</th>
                                    <th class="text-danger">0.75</th>
                                    <th class="text-danger">0.80</th>
                                    <th class="text-danger">0.90</th>
                                    <th class="text-danger">1.0</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        {# Scenario Analysis for 75/25 Probability END#}

        <div class="row">
            <div class="col-lg-12 ">

                <div class="card">
                    <div class="card-header card-head-inverse bg-gradient-directional-blue-grey">
                        <h2 class="card-title text-center text-light">Analysis Results 3. 55/45 Chance</h2>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-hover">
                            <!-- Task List table -->
                            <table class="table table-striped " id='deal_break_analysis_55_45'>
                                <thead>
                                <tr>
                                    <th>Change</th>
                                    <th class="text-danger">0.15</th>
                                    <th class="text-danger">0.20</th>
                                    <th class="text-danger">0.25</th>
                                    <th class="text-danger">0.30</th>
                                    <th class="text-danger">0.40</th>
                                    <th class="text-danger">0.50</th>
                                    <th class="text-danger">0.60</th>
                                    <th class="text-danger">0.75</th>
                                    <th class="text-danger">0.80</th>
                                    <th class="text-danger">0.90</th>
                                    <th class="text-danger">1.0</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        {# Scenario Analysis Sheet End#}


        <div class="row">
            <div class="col-lg-12 ">

                <div class="card">
                    <div class="card-header card-head-inverse bg-primary">
                        <h2 class="card-title text-center text-light">Peer Valuation</h2>
                    </div>
                    <div class="card-content">
                        <div class="table-responsive table-hover">
                            <!-- Task List table -->
                            <table class="table table-striped " id='peer_valuation_table'>
                                <thead>
                                <tr>
                                    <th>Ticker</th>
                                    <th>Name</th>
                                    <th>EV</th>
                                    <th>Mkt Cap</th>
                                    <th>EV/EBITDA (1BF)</th>
                                    <th>EV/EBITDA (2BF)</th>
                                    <th>P/E (1BF)</th>
                                    <th>P/E (2BF)</th>
                                    <th>FCF Yield (1BF)</th>
                                    <th>FCF Yield (2BF)</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for peer_object in related_peers %}
                                    <tr>
                                        <td>{{ peer_object.ticker }}</td>
                                        <td>{{ peer_object.name }}</td>
                                        <td>{{ peer_object.enterprise_value }}</td>
                                        <td>{{ peer_object.market_cap }}</td>
                                        <td>{{ peer_object.ev_ebitda_bf1 }}</td>
                                        <td>{{ peer_object.ev_ebitda_bf2 }}</td>
                                        <td>{{ peer_object.p_e_bf1 }}</td>
                                        <td>{{ peer_object.p_e_bf2 }}</td>
                                        <td>{{ peer_object.fcf_yield_bf1 }}</td>
                                        <td>{{ peer_object.fcf_yield_bf2 }}</td>

                                    </tr>
                                {% endfor %}


                                </tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="card" style="margin-top:-30px">
                    <div class="card-content">
                        <div class="table-responsive">
                            <!-- Task List table -->
                            <table class="table table-dark" id='peer_valuation_summmary_table'>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>EV/EBITDA (1BF)</th>
                                    <th>EV/EBITDA (2BF)</th>
                                    <th>P/E (1BF)</th>
                                    <th>P/E (2BF)</th>
                                    <th>FCF Yield (1BF)</th>
                                    <th>FCF Yield (2BF)</th>

                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td>Max.</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>{{ summary_object.ev_ebitda_bf1_max }}</td>
                                    <td>{{ summary_object.ev_ebitda_bf2_max }}</td>
                                    <td>{{ summary_object.p_e_bf1_max }}</td>
                                    <td>{{ summary_object.p_e_bf2_max }}</td>
                                    <td>{{ summary_object.fcf_yield_bf1_max }}</td>
                                    <td>{{ summary_object.fcf_yield_bf2_max }}</td>

                                </tr>

                                <tr>
                                    <td>Mean</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>{{ summary_object.ev_ebitda_bf1_mean }}</td>
                                    <td>{{ summary_object.ev_ebitda_bf2_mean }}</td>
                                    <td>{{ summary_object.p_e_bf1_mean }}</td>
                                    <td>{{ summary_object.p_e_bf2_mean }}</td>
                                    <td>{{ summary_object.fcf_yield_bf1_mean }}</td>
                                    <td>{{ summary_object.fcf_yield_bf2_mean }}</td>

                                </tr>

                                <tr>
                                    <td>Min</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>Not Applicable</td>
                                    <td>{{ summary_object.ev_ebitda_bf1_min }}</td>
                                    <td>{{ summary_object.ev_ebitda_bf2_min }}</td>
                                    <td>{{ summary_object.p_e_bf1_min }}</td>
                                    <td>{{ summary_object.p_e_bf2_min }}</td>
                                    <td>{{ summary_object.fcf_yield_bf1_min }}</td>
                                    <td>{{ summary_object.fcf_yield_bf2_min }}</td>

                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>


    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>

    {% block sweetalert_js %}
        {{ block.super }}
    {% endblock %}

    {% block navs_js %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_js %}
        {{ block.super }}
    {% endblock %}

    <script src="{% static 'app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/loaders/loaders.css.js' %}"></script>
    <script src="{% static 'app-assets/js/core/show_mna_idea.js' %}"></script>


{% endblock %}