{% extends 'base.html' %}
{% block title_block %}
    Risk Attributes
{% endblock %}
{% load staticfiles %}
{% block css_styles %}

    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload-ui.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-ui.js' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/icheck.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/checkboxes-radios.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/summernote.css' %}">


{% endblock %}
{% block content %}


{% csrf_token %}

    {# Show a Button to Add a new Deal#}
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div id="mna_idea_content_wrapper" class="content-body">
                <section class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-head">
                                <div class="card-header">
                                    <h4 class="card-title font-medium-3 center">Merger ARB NAV Impacts</h4>
                                    {% if not negative_pnl_accounted %}
                                        <p class="h6 bg-danger white text-center">Negative PnL is not accounted</p>
                                    {% endif %}
                                    <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                    <div class="heading-elements">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="mna_idea_csrf_token" value="{{ csrf_token }}">
                            <div class="card-content">
                                <div class="table-responsive">
                                    <!-- Task List table -->
                                    <table class="table table-striped table-bordered" id='arb_risk_attributes_table' style="font-size:12px;">
                                        <thead>
                                        <tr>
                                            <th colspan="4"></th>
                                            <th colspan="7">Base Case NAV Impact</th>
                                            <th colspan="7">Outlier NAV Impact</th>

                                        </tr>
                                    <tr>
                                        <th></th>
                                        <th>Strategy</th>
                                            <th>RiskLimit</th>
                                            <th>LastUpdate</th>
                                            <th>ARB</th>
                                            <th>MACO</th>
                                            <th>MALT</th>
                                            <th>AED</th>
                                            <th>CAM</th>
                                            <th>LG</th>
                                            <th>LEV</th>
                                            <th>ARB</th>
                                            <th>MACO</th>
                                            <th>MALT</th>
                                            <th>AED</th>
                                            <th>CAM</th>
                                            <th>LG</th>
                                            <th>LEV</th>


                                        </tr>
                                        </thead>
                                        <tbody>

{#                                        <tr>#}
{#                                            <td>{{ row.TradeGroup }}</td>#}
{#                                            <td>{{ row.RiskLimit }}</td>#}
{#                                            <td>{{ row.PM_BASE_CASE }}</td>#}
{#                                            <td>{{ row.LastUpdate }}</td>#}
{##}
{#                                            <td>{{ row.BASE_CASE_NAV_IMPACT_ARB }}</td>#}
{#                                            <td>{{ row.BASE_CASE_NAV_IMPACT_MACO }}</td>#}
{#                                            <td>{{ row.BASE_CASE_NAV_IMPACT_MALT }}</td>#}
{#                                            <td>{{ row.BASE_CASE_NAV_IMPACT_AED }}</td>#}
{#                                            <td> {{ row.BASE_CASE_NAV_IMPACT_CAM }}</td>#}
{#                                            <td> {{ row.BASE_CASE_NAV_IMPACT_LG }}</td>#}
{#                                            <td> {{ row.BASE_CASE_NAV_IMPACT_LEV }}</td>#}
{##}
{#                                            <td>{{ row.OUTLIER_NAV_IMPACT_ARB }}</td>#}
{#                                            <td>{{ row.OUTLIER_NAV_IMPACT_MACO }}</td>#}
{#                                            <td>{{ row.OUTLIER_NAV_IMPACT_MALT }}</td>#}
{#                                            <td>{{ row.OUTLIER_NAV_IMPACT_AED }}</td>#}
{#                                            <td> {{ row.OUTLIER_NAV_IMPACT_CAM }}</td>#}
{#                                            <td> {{ row.OUTLIER_NAV_IMPACT_LG }}</td>#}
{#                                            <td> {{ row.OUTLIER_NAV_IMPACT_LEV }}</td>#}
{##}
{#                                        </tr>#}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    </div>
    </div>




    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/icheck/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>


    <script src="{% static 'app-assets/vendors/js/editors/summernote/summernote.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/scripts/forms/checkbox-radio.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/core/arb_risk_attributes.js' %}" type="text/javascript"></script>


{% endblock %}