{% extends 'base.html' %}

{% block title_block %}
    Notes Repository
{% endblock %}

{% load staticfiles %}

    {% block css_styles %}
        {{ block.super }}
    {% endblock %}

    {% block datatables_bootstrap_css %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_css %}
        {{ block.super }}
    {% endblock %}

    {% block checkboxes_css %}
        {{ block.super }}
    {% endblock %}

    {% block moment_js %}
        {{ block.super }}
    {% endblock %}

{% block content %}
    <div class="app-content content">
        <div class="content-wrapper">
            {#          New  Notes Modal#}
            <div class="modal animated lightSpeedIn text-left" id="wic_notes_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <form id="submit_wic_notes_form" method="POST">
                    <input type="hidden" id="wic_notes_csrf_token" value="{{ csrf_token }}">
                    <div class="modal-xl modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add/Edit Notes</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-6 offset-4">
                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Date</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input type="date" class="form-control" required
                                                           id="wic_notes_date"
                                                           placeholder="e.g., Date">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Title
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_notes_title"
                                                           placeholder="Enter a title">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Author
                                                </small>
                                            </div>

                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_notes_author"
                                                           placeholder="Enter author(s)" value="{{ user.username }}">
                                                </fieldset>
                                            </div>

                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Relevant Tickers
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_notes_tickers"
                                                           placeholder="eg., IBM US">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Type/Paste Note
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_note_article">

                                                </div>
                                            </div>

                                        </div>

                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id='close_wic_note_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input id='submit_new_wic_note' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            {#           New News Modal END#}
            {#          EDIT  News Modal#}

            <div class="modal animated lightSpeedIn text-left" id="wic_note_edit_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                <form id="submit_wic_notes_edit_form" method="POST">
                    <input type="hidden" id="wic_edit_notes_csrf_token" value="{{ csrf_token }}">
                    <input type="hidden" id="wic_notes_edit_id">
                    <div class="modal-xl modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel42">Add/Edit Notes Item</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-6 offset-4">
                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Date</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input type="date" class="form-control" required
                                                           id="wic_notes_edit_date"
                                                           placeholder="e.g., Date">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Title
                                                </small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_notes_edit_title"
                                                           placeholder="Enter a title">
                                                </fieldset>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Authors
                                                </small>
                                            </div>

                                            <div class="col-lg-6">
                                                <fieldset class="form-group">
                                                    <input class="form-control" required id="wic_notes_edit_author"
                                                           placeholder="Enter author(s)">
                                                </fieldset>
                                            </div>

                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Tickers</small>
                                            </div>
                                            <div class="col-lg-6">
                                                <fieldset>
                                                    <input class="form-control" required id="wic_notes_edit_tickers"
                                                           placeholder="eg., IBM US">
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br>
                                        <br>

                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">Type/Paste Note
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_notes_edit_article">

                                                </div>
                                            </div>

                                        </div>

                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id='close_wic_notes_edit_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                                <input id='submit_edit_wic_notes' type="submit"
                                       class="btn btn-outline-primary" value="Save Changes">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            {#           EDIT News Modal END#}
            {#        Show View Modal#}
            <div class="modal animated lightSpeedIn text-left" id="wic_notes_view_modal" tabindex="-1"
                 role="dialog"
                 aria-labelledby="myModalLabel42" aria-hidden="true">
                    <div class="modal-xl modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center" id="myModalLabel42">Here's your Note</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="row">

                                    <div class="col-lg-6 offset-4">
                                        <div class="row">
                                            <div class="col-lg-2 block-tag">
                                                <small class="badge badge-default badge-success">My Note
                                                </small>
                                            </div>
                                            <br><br>
                                            <div class="col-lg-12">
                                                <div class="container" id="wic_note_view_article">

                                                </div>
                                            </div>

                                        </div>
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button id='close_wic_note_modal' type="button"
                                        class="btn btn-danger btn-outline-secondary" data-dismiss="modal">Close
                                </button>
                            </div>

                        </div>
                    </div>
            </div>
            {#        Show View Modal END#}
            <section class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head">
                            <div class="card-header card-head-inverse bg-dark">
                                <h2 class="card-title text-white center">Notes List</h2>
                                <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <button id='wic_add_new_note' class="btn btn-primary btn-sm"
                                            data-toggle="modal"
                                            data-target="#wic_notes_modal"><i class="ft-plus white"></i> Add New
                                        Note
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card-content">
                            <div class="table-responsive">
                                <!-- Task List table -->
                                <table class="table table-striped table-bordered" id='wic_notes_table'>
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Article</th>
                                        <th>Associated Tickers</th>
                                        <th>Options</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for notes_item in notesmaster_list %}
                                        <tr id="row_{{ notes_item.id }}">
                                            <td>{{ notes_item.date }}</td>
                                            <td>{{ notes_item.title }}</td>
                                            <td>{{ notes_item.author }}</td>
                                            <td>{{ notes_item.article }}</td>
                                            <td>{{ notes_item.tickers }}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                        <i class="ft-settings"></i>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a id="edit_{{ notes_item.id }}"
                                                               data-value="{{ notes_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-edit-2"></i> Edit</a></li>
                                                        <li><a id="delete_{{ notes_item.id }}"
                                                               data-value="{{ notes_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-trash-2"></i> Delete</a></li>
                                                        <li><a id="view_{{ notes_item.id }}"
                                                               data-value="{{ notes_item.id }}" class='dropdown-item'
                                                               href="#"><i class="ft-plus-circle primary"></i> View</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>

    {% block datatables_js %}
        {{ block.super }}
    {% endblock %}

    {% block summernote_js %}
        {{ block.super }}
    {% endblock %}

    {% block sweetalert_js %}
        {{ block.super }}
    {% endblock %}
    <script type="text/javascript" src="{% static 'app-assets/js/core/wic_notes.js' %}"></script>

{% endblock %}