<!--  *** Add Pace.js Later on  -->
{% load staticfiles %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>{% block title_block %}{% endblock %}</title>
    {#    Stylesheets Section   #}

    <link rel="apple-touch-icon" href="{% static 'app-assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/vendors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/unslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/weather-icons/climacons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/selects/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/sweetalert.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'app-assets/css/core/menu/menu-types/vertical-overlay-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/login-register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/calendars/clndr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/fonts/meteocons/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-climacon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/users.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    {#    Scripts Section   #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="{% static 'app-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app-assets/vendors/js/ui/jquery-sliding-menu.js' %}"></script>
    <script type="text/javascript" src="{% static 'app-assets/vendors/js/ui/unison.min.js' %}"></script>


    {% block jquery_file_upload_css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/vendors/css/file-uploaders/jquery.fileupload-ui.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/vendors/js/extensions/jquery-file-upload/jquery.fileupload-ui.js' %}">
    {% endblock %}

    {% block datatables_bootstrap_css %}
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    {% endblock %}

    {% block checkboxes_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/icheck.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/icheck/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/checkboxes-radios.css' %}">
    {% endblock %}

    {% block summernote_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/editors/summernote.css' %}">
    {% endblock %}

    {% block css_styles2 %}
    {% endblock %}

    {% block amcharts_scripts %}
        <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/serial.js"></script>
        <script src="https://www.amcharts.com/lib/3/themes/black.js"></script>
        <script src="//www.amcharts.com/lib/3/themes/light.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <script type="text/javascript" src="http://www.amcharts.com/lib/3/amstock.js"></script>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
              media="all"/>
    {% endblock %}

    {% block css_styles %}
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    {% endblock %}

    {% block loaders_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/loaders/loaders.min.css' %}">
    {% endblock %}

    {% block date_range_pickers %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'app-assets/css/plugins/pickers/daterange/daterange.css' %}">
    {% endblock %}

    {% block moment_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.js"></script>
    {% endblock %}
</head>
<script>

    let isIE = !!navigator.userAgent.match(/Trident/g) || !!navigator.userAgent.match(/MSIE/g);
    if (isIE) {
        alert("Internet Explorer Detected. Some functionalities will not work. Please switch to Chrome or Firefox");
    }
</script>
<body class="vertical-layout vertical-overlay-menu 1-column  menu-expanded fixed-navbar"
      data-open="click" data-menu="vertical-overlay-menu" data-col="1-column">

{% if user.is_authenticated %}
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img class="brand-logo" alt="robust admin logo"
                                 src="{% static 'app-assets/images/logo/logo-light-sm.png' %}">
                            <h3 class="brand-text">Dashboard</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                                class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                                                                  href="#"><i class="ft-menu"></i></a></li>
                        <li class="dropdown nav-item mega-dropdown"><a class="dropdown-toggle nav-link" href="#"
                                                                       data-toggle="dropdown">Menu</a>
                            <ul class="mega-dropdown-menu dropdown-menu row">
                                <li class="col-md-2">
                                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i
                                            class="fa fa-newspaper-o"></i> News</h6>
                                    <div id="mega-menu-carousel-example">
                                        <div>
                                            <img class="rounded img-fluid mb-1"
                                                 src="{% static 'app-assets/images/slider/slider-2.png' %}"
                                                 alt="First slide"><a class="news-title mb-0" href="#">Poster Frame
                                            PSD</a>
                                            <p class="news-content">
                                                <span class="font-small-2">January 26, 2018</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-random"></i> Order
                                        Breakfast</h6>
                                    <ul class="drilldown-menu">
                                        <li class="menu-list">
                                            <ul>
                                                <li>
                                                    <button type="button"
                                                            class="btn btn-outline-white bg-secondary block btn-lg"
                                                            data-toggle="modal"
                                                            data-target="#swing">
                                                        Click to Place an Order!
                                                    </button>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                                class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="Explore WIC...">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i
                                    class="ficon ft-bell"></i>
                                <span class="badge badge-pill badge-default badge-danger badge-default badge-up">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Notifications</span>
                                    </h6>
                                    <span class="notification-tag badge badge-default badge-danger float-right m-0">5 New</span>
                                </li>
                                <li class="scrollable-container media-list w-100">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="ft-file icon-bg-circle bg-teal"></i></div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Generate monthly report</h6>
                                                <small>
                                                    <time class="media-meta text-muted"
                                                          datetime="2015-06-11T18:29:20+08:00">Last month
                                                    </time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                                                    href="javascript:void(0)">Read all notifications</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i
                                    class="ficon ft-mail"></i>
                                <span class="badge badge-pill badge-default badge-info badge-default badge-up">5 </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Messages</span>
                                    </h6>
                                    <span class="notification-tag badge badge-default badge-warning float-right m-0">4 New</span>
                                </li>
                                <li class="scrollable-container media-list w-100">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                          <img src="{% static 'app-assets/images/portrait/small/avatar-s-19.png' %}"
                               alt="avatar"><i></i></span>
                                            </div>
                                            <div class="media-body">
                                                <h6 class="media-heading">Margaret Govan</h6>
                                                <p class="notification-text font-small-3 text-muted">I like your
                                                    portfolio, let's start.</p>
                                                <small>
                                                    <time class="media-meta text-muted"
                                                          datetime="2015-06-11T18:29:20+08:00">Today
                                                    </time>
                                                </small>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center"
                                                                    href="javascript:void(0)">Read all messages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                <span class="avatar avatar-online">
                  <img src="{% static 'app-assets/images/portrait/small/avatar-s-1.png' %}"
                       alt="avatar"><i></i></span>
                                {#                                <span class="user-name">{{ user.first_name|add:" "|add:user.last_name }}</span>#}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><i
                                    class="ft-user"></i> Edit Profile</a>
                                <a
                                        class="dropdown-item" href="#"><i class="ft-mail"></i> My Inbox</a>
                                <a class="dropdown-item" href="#"><i class="ft-check-square"></i> Task</a><a
                                        class="dropdown-item"
                                        href="#"><i class="ft-message-square"></i> Chats</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="ft-power"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border"
         data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">

                <li class=" nav-item"><a href="#"><i class="icon-graph"></i><span
                        class="menu-title">Risk Management</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'risk:mna_idea_database' %}"
                               data-i18n="nav.project.project_summary">M&A IDEA</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'risk:ess_idea_database' %}"
                               data-i18n="nav.project.project_summary">ESS IDEA</a>
                        </li>

                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="icon-feed"></i><span class="menu-title">News & Notes</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'news:list_news_from_wic' %}"
                               data-i18n="nav.project.project_summary">List News</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'notes:list_notes' %}"
                               data-i18n="nav.project.project_summary">List Notes</a>
                        </li>
                    </ul>
                </li>

                <li class=" nav-item"><a href="{% url 'statpro:get_attribution' %}"><i class="icon-layers"></i><span
                        class="menu-title">StatPro Attribution</span></a>
                </li>
            </ul>
        </div>
    </div>
{% else %}
    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-dark navbar-shadow navbar-brand-center">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav flex-row">
                    <li class="nav-item mobile-menu d-md-none mr-auto"><a
                            class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                            class="ft-menu font-large-1"></i></a></li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="{% url 'index' %}">
                            <img class="brand-logo" alt="robust admin logo"
                                 src="{% static 'app-assets/images/logo/logo-light-sm.png' %}">
                            <h3 class="brand-text">Dashboard</h3>
                        </a>
                    </li>
                    <li class="nav-item d-md-none">
                        <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                                class="fa fa-ellipsis-v"></i></a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content">
                <div class="collapse navbar-collapse" id="navbar-mobile">
                    <ul class="nav navbar-nav mr-auto float-left">
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
                                                                  href="#"><i class="ft-menu"></i></a></li>
                        <li class="dropdown nav-item mega-dropdown"><a class="dropdown-toggle nav-link" href="#"
                                                                       data-toggle="dropdown">Menu</a>
                            <ul class="mega-dropdown-menu dropdown-menu row">
                                <li class="col-md-2">
                                    <h6 class="dropdown-menu-header text-uppercase mb-1"><i
                                            class="fa fa-newspaper-o"></i> News</h6>
                                    <div id="mega-menu-carousel-example">
                                        <div>
                                            <img class="rounded img-fluid mb-1"
                                                 src="{% static 'app-assets/images/slider/slider-2.png' %}"
                                                 alt="First slide"><a class="news-title mb-0" href="#">Poster Frame
                                            PSD</a>
                                            <p class="news-content">
                                                <span class="font-small-2">January 26, 2018</span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <h6 class="dropdown-menu-header text-uppercase"><i class="fa fa-random"></i> Order
                                        Breakfast</h6>
                                    <ul class="drilldown-menu">
                                        <li class="menu-list">
                                            <ul>
                                                <li>
                                                    <button type="button"
                                                            class="btn btn-outline-white bg-secondary block btn-lg"
                                                            data-toggle="modal"
                                                            data-target="#swing">
                                                        Click to Place an Order!
                                                    </button>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i
                                class="ficon ft-maximize"></i></a></li>
                        <li class="nav-item nav-search"><a class="nav-link nav-link-search" href="#"><i
                                class="ficon ft-search"></i></a>
                            <div class="search-input">
                                <input class="input" type="text" placeholder="Explore WIC...">
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav float-right">

                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i
                                    class="ficon ft-bell"></i>
                                <span class="badge badge-pill badge-default badge-danger badge-default badge-up">5</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="dropdown-menu-header">
                                    <h6 class="dropdown-header m-0">
                                        <span class="grey darken-2">Notifications</span>
                                    </h6>
                                </li>
                                <li class="scrollable-container media-list w-100">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left align-self-center"><i
                                                    class="ft-file icon-bg-circle bg-teal"></i></div>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-notification nav-item">
                            <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i
                                    class="ficon ft-mail"></i>
                                <span class="badge badge-pill badge-default badge-info badge-default badge-up">5 </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                                <li class="scrollable-container media-list w-100">
                                    <a href="javascript:void(0)">
                                        <div class="media">
                                            <div class="media-left">
                        <span class="avatar avatar-sm avatar-online rounded-circle">
                          <img src="{% static 'app-assets/images/portrait/small/avatar-s-19.png' %}"
                               alt="avatar"><i></i></span>
                                            </div>
                                            <div class="media-body">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="" data-toggle="dropdown">
                <span class="avatar avatar-online">
                  <img src="{% static 'app-assets/images/portrait/small/avatar-s-1.png' %}"
                       alt="avatar"><i></i></span>
                                {#                                <span class="user-name">{{ user.first_name|add:" "|add:user.last_name }}</span>#}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}"><i class="ft-power"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="main-menu menu-fixed menu-light menu-accordion menu-shadow menu-border"
         data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li></li>
                <li class=" nav-item"><a href="#"><i class="icon-doc"></i><span class="menu-title"
                                                                                data-i18n="nav.invoice.main">Securities</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'securities:securitiy_master' %}">WIC Security Master</a>
                        </li>
                    </ul>

                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'realtime_pnl_impacts:live_tradegroup_pnl' %}">Realtime
                            P&L Thresholds</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="#"><i class="icon-doc"></i><span class="menu-title"
                                                                                data-i18n="nav.invoice.main">Portfolio Analytics</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'portfolio_analytics:show_current_deal_universe' %}">Current
                            Deal Universe</a>
                        </li>
                    </ul>

                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'realtime_pnl_impacts:live_tradegroup_pnl' %}">Realtime
                            P&L Thresholds</a>
                        </li>
                    </ul>
                </li>

                <li class=" nav-item"><a href="#"><i class="icon-doc"></i><span class="menu-title"
                                                                                data-i18n="nav.invoice.main">Risk Reporting</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'risk_reporting:merger_arb_risk_attributes' %}">ARB NAV
                            Impacts</a>
                        </li>
                    </ul>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'risk_reporting:formula_based_downsides' %}">Formulae
                            Based Downsides</a>
                        </li>
                    </ul>

                </li>


                <li class=" nav-item"><a href="#"><i class="icon-graph"></i><span
                        class="menu-title">Risk Management</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'risk:mna_idea_database' %}"
                               data-i18n="nav.project.project_summary">M&A IDEA</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'risk:ess_idea_database' %}"
                               data-i18n="nav.project.project_summary">ESS IDEA</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'equity_fixedincome_risk_reward:list_speculated_deals' %}"
                               data-i18n="nav.project.project_summary">Equity vs Credit</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'risk:show_all_credit_deals' %}"
                               data-i18n="nav.project.project_summary">Credit Deals</a>
                        </li>
                    </ul>
                </li>
                <li class=" nav-item"><a href="{% url 'exposures:exposures_snapshot' %}"><i
                        class="icon-pie-chart"></i><span class="menu-title">Exposure Snapshot</span>
                </a></li>

                <li class=" nav-item"><a href="#"><i class="icon-feed"></i><span class="menu-title">News & Notes</span></a>
                    <ul class="menu-content">
                        <li><a class="menu-item" href="{% url 'news:list_news_from_wic' %}"
                               data-i18n="nav.project.project_summary">List News</a>
                        </li>
                        <li><a class="menu-item" href="{% url 'notes:list_notes' %}"
                               data-i18n="nav.project.project_summary">List Notes</a>
                        </li>
                    </ul>
                </li>

                <li class=" nav-item"><a href="{% url 'statpro:get_attribution' %}"><i class="icon-layers"></i><span
                        class="menu-title">StatPro Attribution</span></a>
                </li>
            </ul>
        </div>
    </div>

{% endif %}





{% block content %}

{% endblock %}


<!-- THEME CUSTOMIZER -->

<footer class="footer fixed-bottom footer-dark">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
      <span class="float-md-left d-block d-md-inline-block">Copyright &copy; 2018 <a class="text-bold-800 grey darken-2"
                                                                                     href="https://www.waterislandcapital.com"
                                                                                     target="_blank">Water Island Capital, LLC </a>, All rights reserved. </span>
        <span class="float-md-right d-block d-md-inline-blockd-none d-lg-block">Hand-crafted & Made with <i
                class="ft-heart pink"></i></span>
    </p>
</footer>


{% block sweetalert_js %}
    <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}" type="text/javascript"></script>
{% endblock %}

{% block checkbox_js %}
    <script src="{% static 'app-assets/vendors/js/forms/icheck/icheck.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'app-assets/js/scripts/forms/checkbox-radio.js' %}" type="text/javascript"></script>
{% endblock %}

{% block boootstrap %}
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>
{% endblock %}


{% block summernote_js %}
    <script src="{% static 'app-assets/vendors/js/editors/summernote/summernote.js' %}" type="text/javascript"></script>
{% endblock %}

{% block datatables_js %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js" type="text/javascript"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/ellipsis.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/fixedcolumns/3.2.6/js/dataTables.fixedColumns.min.js"></script>

{% endblock %}

{% block navs_js %}
    <script src="{% static 'app-assets/js/scripts/navs/navs.js' %}" type="text/javascript"></script>
{% endblock %}

<script src="{% static 'app-assets/vendors/js/extensions/toastr.min.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/app-menu.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/app.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/csrftoken.js' %}" type="text/javascript"></script>


</body>
</html>
