{% extends 'base.html' %}
{% load staticfiles %}
{% block css_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
{% endblock %}
{% block content %}

  <!-- ////////////////////////////////////////////////////////////////////////////-->

  <div class="app-content content">
  <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>
          <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener"
                                                       target="_blank"><span class="blue-text">Financial Markets</span></a>
              by TradingView
          </div>
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
                  async>
              {
                  "symbols"
              :
                  [
                      {
                          "title": "S&P 500",
                          "proName": "INDEX:SPX"
                      },
                      {
                          "title": "DOW",
                          "proName": "INDEX:DJI"
                      },
                      {
                          "title": "EUR/USD",
                          "proName": "FX_IDC:EURUSD"
                      },

                      {
                          "title": "BSE Sensex",
                          "proName": "BSE:SENSEX"
                      },
                      {
                          "title": "QQQ",
                          "proName": "NASDAQ:QQQ"
                      },
                      {
                          "title": "SPY US EQUITY",
                          "proName": "AMEX:SPY"
                      }
                  ],
  "theme": "dark",
  "isTransparent": false,
  "displayMode": "adaptive",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">


<div class="row">
    <!-- Carousel for Finance News -->
    <div class="col-md-12 col-sm-12">
    <div class="card">
    <div class="card-header">
      <h4 class="card-title center">Trending News</h4>
    </div>
    <div class="card-content ">
      <div id='news-card-body' class="card-body">

        <div  id="carousel-interval" class="carousel " data-ride="carousel">
          <ol id='carousel-indicators' class="carousel-indicators"></ol>
          <div id='carousel-inner' class="carousel-inner" role="listbox"></div>
              <a class="carousel-control-prev" href="#carousel-interval" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-interval" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <footer id="news-source-footer" class="blockquote-footer">Source: <cite id='news-footer-cite' title="Source Title"></cite></footer>
          </div>
        </div>
      </div>
    </div>

          <div class="col-lg-3 col-md-12">
            <div class="card no-border box-shadow-0" style="height: 400px">
              <div class="card-content">
                <div class="weather-date position-relative">
                  <div class="date-info position-absolute bg-amber bg-lighten-1 white mt-3 p-1 text-center">
                    <span id='weather-current-day' class="date block"></span>
                    <span id = 'weather-current-month' class="month"></span>
                  </div>
                </div>
                <div id='weather-background-image' class="card-body bg-white bg-lighten-2 ">
                  <ul class="list-inline text-right">
                    <li><a id='weather-reload' data-action="reload"><i class="ft-rotate-cw font-medium-4 amber"></i></a></li>
                  </ul>
                    <div class="weather-details text-center">
                    <span id = 'weather-detailed-status' class="my-2 block white darken-2"></span>
                    <span class="font-medium-4 text-bold-650 white darken-4">New York City</span>
                  </div>
                  <div class="animated-weather-icons text-center">
                    <svg version="1.1" id="wind" class="climacon climacon_wind climacon-amber climacon-darken-2 height-200"
                    viewBox="15 15 70 70">

                    </svg>
                  </div>

                </div>
                <div class="card-footer bg-info">
                  <div class="row">
                    <div class="col-4 text-center display-table-cell">
                      <i class="me-weather3 font-large-1 white lighten-3 valign-middle"></i>
                      <span id = 'weather-sunset' class="white valign-middle"></span>
                    </div>
                    <div class="col-4 text-center display-table-cell">
                      <i class="me-snowy3 font-large-1 white lighten-3 valign-middle"></i>
                      <span id='weather-snow' class="white valign-middle"></span>
                    </div>
                    <div class="col-4 text-center display-table-cell">
                      <i class="me-thermometer font-large-1 white lighten-3 valign-middle"></i>
                      <span id = 'weather-temp' class="white valign-middle">13.0&deg;</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

       <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="card bg-twitter white" style="height: 435px">
                  <div class="card-content p-2">
                      <ul class="list-inline text-right">
                    <li><a id='tweet-reload' data-action="reload"><i class="ft-rotate-cw font-medium-4 amber"></i></a></li>
                  </ul>
                    <div class="card-body">
                      <div class="text-center mb-1">
                        <i class="ft-twitter font-large-3"></i>
                      </div>

                      <div class="tweet-slider" id="tweet-slider">
                        <ul id='tweets-list' class="text-center">

                        </ul>
                      </div>
                    </div>
                  </div></div></div>

        </div>




          <!-- Analytics charts -->
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="card">
              <div class="card-header no-border-bottom">
                <h4 class="card-title">Visitors Overview</h4>
                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                <div class="heading-elements">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary btn-round active">Hourly</button>
                    <button type="button" class="btn btn-outline-primary btn-round">Day</button>
                    <button type="button" class="btn btn-outline-primary btn-round">Month</button>
                  </div>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <div class="row my-1">
                    <div class="col-lg-4 col-12 p-1 border-right-blue-grey border-right-lighten-5">
                      <div class="text-center">
                        <h3>15,678</h3>
                        <p class="text-muted">Total Visit
                          <span class="success darken-2"><i class="ft-arrow-up"></i> 4.27%</span>
                        </p>
                        <div id="sp-bar-total-cost"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12 p-1 border-right-blue-grey border-right-lighten-5">
                      <div class="text-center">
                        <h3>8,630</h3>
                        <p class="text-muted">Unique Visitor
                          <span class="danger darken-2"><i class="ft-arrow-down"></i> 2.30%</span>
                        </p>
                        <div id="sp-stacked-bar-total-sales"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12 p-1">
                      <div class="text-center">
                        <h3>32,454</h3>
                        <p class="text-muted">Page Views
                          <span class="success darken-2"><i class="ft-arrow-up"></i> 8.16%</span>
                        </p>
                        <div id="sp-tristate-bar-total-revenue"></div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-inline text-center mt-3">
                    <li>
                      <h6><i class="ft-circle danger"></i> Page Views</h6>
                    </li>
                    <li>
                      <h6><i class="ft-circle success pl-1"></i> Total Visit</h6>
                    </li>
                    <li>
                      <h6><i class="ft-circle warning pl-1"></i> Unique Visitor</h6>
                    </li>
                  </ul>
                  <div class="chartjs">
                    <canvas id="visitors-graph" height="275"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Analytics charts -->
        <!-- Analytics map based session -->
        <div class="row">
          <div class="col-12">
            <div class="card box-shadow-0">
              <div class="card-content">
                <div class="row">
                  <div class="col-xl-8 col-lg-12">
                    <div id="world-map-markers" class="height-450"></div>
                  </div>
                  <div class="col-xl-4 col-lg-12">
                    <div class="card-body">
                      <h4 class="card-title py-1 text-center">Visitors Sessions</h4>
                      <div class="row">
                        <div class="col-xl-12 col-lg-6 col-sm-12">
                          <div class="media">
                            <div class="media-body">
                              <span>Sessions by Browser</span>
                            </div>
                            <div class="media-right media-top pr-2">
                              <i class="ft-globe font-large-1"></i>
                            </div>
                          </div>
                          <div id="sessions-browser-donut-chart" class="height-200"></div>
                        </div>
                        <div class="col-xl-12 col-lg-6 col-sm-12">
                          <div class="sales pr-2 pt-2">
                            <div class="sales-today mb-2">
                              <p class="m-0">Today's Visitors
                                <span class="sucess float-right"><i class="ft-arrow-up success"></i> 6.89%</span>
                              </p>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="sales-yesterday">
                              <p class="m-0">Yesterday's Visitors
                                <span class="deep-orange accent-2 float-right"><i class="ft-arrow-down deep-orange accent-3"></i>4.18%</span>
                              </p>
                              <div class="progress mt-1 mb-0" style="height: 7px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Analytics map based session -->

                          <!-- Modal -->
                          <div class="modal animated swing text-left" id="swing" tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel42" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel42">Order your Breakfast</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <h5>Please type your order below:</h5>
                                  <form action="" id="breakfast-form">
                                      <input type="hidden" id="breakfast-csrf-token" value="{{ csrf_token }}">
                                      <fieldset class="form-group">
                                          <textarea class="form-control" id="breakfast-textarea" rows="2"></textarea>
                                      </fieldset>
                                  </form>
                                  <hr>
                                  <h5>Or select from your previous orders</h5>
                                  <fieldset class="form-group position-relative">
                                      <select id='previous-breakfast-options' class="custom-select form-control input-lg">
                                          <option selected>Previous Orders</option>
                                          <option >P</option>
                                          <option >Pders</option>
                                          <option >Pvious Orders</option>
                                      </select>
                                  </fieldset>
                                </div>
                                <div class="modal-footer">
                                  <button id='close-breakfast-modal' type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                  <button id='submit-breakfast-order' type="button" class="btn btn-outline-primary">Save changes</button>
                                </div>
                              </div>
                            </div>
                          </div>
        <div class="row match-height">
          <div class="col-xl-4 col-lg-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body sales-growth-chart">
                  <div class="chart-title">
                    <h1 class="display-4">32%</h1>
                    <span class="text-muted">Bounce Rate</span>
                  </div>
                  <div id="bounce-rate" class="height-250"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-12">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="col-lg-3 col-md-12">
                    <div class="chart-stats text-center my-3">
                      <div class="new-users my-2 overflow-hidden clearfix">
                        <span>New Users</span>
                        <h1 class="display-4">25%</h1>
                      </div>
                      <div class="returning-users my-2 overflow-hidden">
                        <span>Returning Users</span>
                        <h1 class="display-4">159</h1>
                      </div>
                      <div class="page-views my-2 overflow-hidden">
                        <span>Page Views</span>
                        <h1 class="display-4">246</h1>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-9 col-md-12">
                    <div class="card-body">
                      <ul class="list-inline text-center">
                        <li class="mr-1">
                          <h6><i class="ft-circle amber"></i>
                            <span>iOS</span>
                          </h6>
                        </li>
                        <li class="mr-1">
                          <h6><i class="ft-circle primary"></i>
                            <span>Windows</span>
                          </h6>
                        </li>
                        <li class="mr-1">
                          <h6><i class="ft-circle info"></i>
                            <span>Android</span>
                          </h6>
                        </li>
                      </ul>
                      <div class="chartjs">
                        <canvas id="line-stacked-area" height="300"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Bounce Rate & Mobile Device View -->
        <!-- Audience by country -->
        <div class="row match-height">
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">Avg. Session Duration & Pages/Session</h4>
                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <div class="card-body">
                  <ul class="list-inline text-right pr-2">
                    <li>
                      <h6><i class="ft-circle grey lighten-1"></i> Avg. Session Duration
                        </h6>
                    </li>
                    <li>
                      <h6><i class="ft-circle red"></i> Pages/Session</h6>
                    </li>
                  </ul>
                  <div id="area-chart" class="height-250"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-12">
            <div class="card">
              <div class="card-header no-border">
                <h4 class="card-title">Audience by Country</h4>
                <a class="heading-elements-toggle"><i class="ft-more-horizontal font-medium-3"></i></a>
                <div class="heading-elements">
                  <ul class="list-inline mb-0">
                    <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="card-content">
                <div id="audience-list-scroll" class="table-responsive height-300 position-relative">
                  <table class="table mb-0">
                    <thead>
                      <tr>
                        <th>Country</th>
                        <th>Session</th>
                        <th>% Session</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><i class="flag-icon flag-icon-gb"></i> United State</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          85%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-au"></i> Australia</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          75%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          66%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuenow="66"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-gb"></i> Great Britain (UK)</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          58%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 58%" aria-valuenow="58"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-hk"></i> Hong Kong</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          45%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 45%" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-in"></i> India</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          38%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 38%" aria-valuenow="38"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          25%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-mx"></i> Mexico</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          22%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 22%" aria-valuenow="22"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><i class="flag-icon flag-icon-ma"></i> Morocco</td>
                        <td>18</td>
                        <td class="text-center font-small-2">
                          18%
                          <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 18%" aria-valuenow="18"
                            aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Audience by country -->
        <!--  -->
        <div class="row match-height">
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="row">
              <div class="col-sm-12">
                <div class="card no-border">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-body">
                          <h1 class="display-4">$45,668</h1>
                          <span class="text-muted">Total Sales</span>
                        </div>
                        <div class="media-right media-middle">
                          <i class="ft-trending-up font-large-2 grey lighten-3"></i>
                        </div>
                      </div>
                    </div>
                    <div id="sp-line-total-sales"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-body">
                          <h3>$45,668</h3>
                          <span class="text-muted">Total Sales</span>
                        </div>
                        <div class="media-right media-middle">
                          <div id="sp-bar-total-sales"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-content">
                    <div class="card-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <div id="sp-tristate-bar-total-sales"></div>
                        </div>
                        <div class="media-body media-right text-right">
                          <h3>$45,668</h3>
                          <span class="text-muted">Total Sales</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body text-center">
                  <div class="card-header mb-2">
                    <span class="deep-orange darken-1">Total Budget</span>
                    <h3 class="font-large-2 grey darken-1 text-bold-200">$24,879</h3>
                  </div>
                  <div class="card-content">
                    <input type="text" value="75" class="knob hide-value responsive angle-offset" data-angleOffset="0"
                    data-thickness=".15" data-linecap="round" data-width="150" data-height="150"
                    data-inputColor="#e1e1e1" data-readOnly="true" data-fgColor="#FF5722"
                    data-knob-icon="ft-trending-up">
                    <ul class="list-inline clearfix mt-2 mb-0">
                      <li class="border-right-grey border-right-lighten-2 pr-2">
                        <h2 class="grey darken-1 text-bold-400">75%</h2>
                        <span class="deep-orange">Completed</span>
                      </li>
                      <li class="pl-2">
                        <h2 class="grey darken-1 text-bold-400">25%</h2>
                        <span class="danger">Remaining</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-12 col-md-12">
            <div class="card">
              <div class="card-content">
                <div class="card-body sales-growth-chart">
                  <div id="monthly-sales" class="height-300"></div>
                </div>
              </div>
              <div class="card-footer">
                <div class="chart-title my-2 text-center">
                  <span class="text-muted">Total monthly Sales.</span>
                </div>
                <div class="chart-stats text-center">
                  <a href="#" class="btn btn-sm btn-primary mr-1">Statistics <i class="ft-bar-chart"></i></a>
                  <span class="text-muted">for the last year.</span>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


  <!-- BEGIN VENDOR JS-->
  <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
    <!-- BEGIN PAGE VENDOR JS-->
  <script src="{% static 'app-assets/vendors/js/extensions/jquery.knob.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/js/scripts/extensions/knob.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/raphael-min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/morris.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/jvector/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/jvector/jquery-jvectormap-world-mill.js' %}"
  type="text/javascript"></script>
  <script src="{% static 'app-assets/data/jvector/visitor-data.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/chart.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/charts/jquery.sparkline.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/extensions/unslider-min.js' %}" type="text/javascript"></script>
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN ROBUST JS-->
{#  <script src="{% static 'app-assets/js/core/app-menu.js' %}" type="text/javascript"></script>#}
{#  <script src="{% static 'app-assets/js/core/app.js' %}" type="text/javascript"></script>#}
  <script src="{% static 'app-assets/js/scripts/customizer.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/extensions/sweetalert.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}" type="text/javascript"></script>

{#  <!-- BEGIN PAGE LEVEL JS-->#}
{#  <script src="{% static 'app-assets/js/scripts/forms/form-login-register.js' %}" type="text/javascript"></script>#}
<script src="{% static 'app-assets/js/scripts/pages/dashboard-analytics.js' %}" type="text/javascript"></script>
{#  <!-- END PAGE LEVEL JS-->#}

<script src="{% static 'app-assets/js/scripts/forms/select/form-select2.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/scripts/modal/components-modal.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/extrafeatures.js' %}" type="text/javascript"></script>
{#<script src="{% static 'app-assets/vendors/js/extensions/unslider-min.js' %}" type="text/javascript"></script>#}
{#<script src="{% static 'app-assets/js/scripts/pages/dashboard-analytics.js' %}" type="text/javascript"></script>#}

{% endblock %}
